<!DOCTYPE html>
<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">
         <title>Welcome {{.Name}}</title>
   </head>
   <body>
         <div id="time" class="welcome center"></div>
         <script type="text/javascript">
            var now = new Date();
            document.getElementById("time").innerText = "Welcome, " + {{.Name}} + ". " + "It's " + now.toLocaleString("en-US") + "."
         </script>
   </body>
</html>